/* =================================
 * flex box css
 * =================================*/
.flexbox {
	height: 22px;
	overflow: hidden;

	-webkit-transition: height .3s;
	-o-transition: height .3s;
	transition: height .3s;
}

.flexbox-header {
	width: 100%;
	height: 22px;
	line-height: 22px;
	color: #1F1F1F;
	position: relative;
	font-size: 12px;
	cursor: pointer;
}

.flexbox-icon {
	width: 8px;
	height: 8px;
	margin: 7px 6px;
	float: left;
	line-height: 0;

	-webkit-transition: transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
}

.flexbox-content {
	padding: 6px;
	word-wrap:break-word;
	font-size: 12px;
	color: #1f1f1f;
	opacity: 0;

	-webkit-transition: opacity .3s .3s;
	-o-transition: opacity .3s .3s;
	transition: opacity .3s .3s;
}

.flexbox.action>.flexbox-content {
	opacity: 1;
}

.flexbox.action>.flexbox-header>.flexbox-icon {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* --------- nav ----------*/

.navigation,
.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 120px;
}

.navigation li {
	position: relative;
}

.navigation>li {
	width: 120px;
	height: 24px;
}

.navigation a {
	color: #fff;
	font-size: 12px;
	padding-left: 24px;
	text-decoration: underline;
	display: block;
	line-height: 24px;
	height: 0;
}

.navigation a[href="javascript:void(0);"] {
	text-decoration: none;
}

.navigation a:hover {
	background: #6A6A6A
}

.navigation>li li {
	-webkit-transition: height .4s, opacity .4s, background .4s, border .4s;
	-o-transition: height .4s, opacity .4s, background .4s, border .4s;
	transition: height .4s, opacity .4s, background .4s, border .4s;
	height: 0;
	opacity: 0;
}

.navigation>li ul {
	position: absolute;
	left: 118px;
	top: 0;
	z-index: -1;
}

li.action>ul {
	z-index: 1;
	height: auto;
	-webkit-box-shadow: 0 0 8px #575757;
	box-shadow: 0 0 8px #575757;
}

li.action>ul>li {
	opacity: 1;
	height: 24px;
	border-color: #6a6a6a;
	border-style: solid;
	border-top-width: 0;
	border-left-width: 1px;
	border-right-width: 1px;

	border-bottom-width: 1px;
	border-bottom-style: dotted;
}

li.action>ul>li:first-child {
	border-top-width: 1px;
}

li.action>ul>li:last-child {
	border-bottom-style: solid;
}

.navigation>li,
li.action>ul>li {
	background: #575757;
}

li.action a{
	height: 24px;
}

/* ------- horizontal ------- */
.navigation.horizontal {
	display:inline-block;
    white-space:nowrap;
    *display:inline;
}

.navigation.horizontal>li {
	display: inline-block;
	vertical-align:top;
    *display:inline;
    *zoom:1;
}

.navigation.horizontal>li>ul {
	left: 0;
	top: auto;
}

.navigation-icon {
	width: 8px;
	height: 8px;
	position: absolute;
	top: 8px;
	left: 8px;
	line-height: 0;
}

.navigation-icon.right {
	left: auto;
	right: 8px;
}

.navigation-icon img {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

/* ------- scroll style ------- */
.scroll {
	background: #fff;
	padding: 0;

	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}

.scroll.hide {
	opacity: 0;
	z-index: -1;
}

.slider {
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	background: #444;

	-webkit-transition: background .3s;
	-o-transition: background .3s;
	transition: background .3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	cursor: default;
}

.slider:hover {
	background: #666;
}

/* ------ area ------ */
.area {
	position: relative;
	overflow: hidden;
}

.area-content {
	float: left;
}

.area>.scroll {
	position: absolute;
}

.area>.scroll.horizontal {
	left: 0;
	bottom: 0;
}

.area>.scroll.vertical{
	right: 0;
	top: 0;
}

/* ---- tab ---- */
.tab {

}

.tab-header {
	height: 22px;
	width: 100%;
	position: relative;
}

.tab-block-icon {
	position: absolute;
	right: 6px;
	top: 7px;
	width: 8px;
	height: 8px;
	line-height: 0;
	z-index: 1;
}

.tab-block,
.tab-control {
	border: 0;
	border-style: solid;
	border-color: #828282;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;

	position: absolute;
    left: 0;
    cursor: pointer;

    background: #eee;
    background: linear-gradient(#fff, #eee);
    background: -webkit-linear-gradient(#fff, #eee);
    background: -moz-linear-gradient(#fff, #eee);

    -webkit-transition: left .3s;
	-o-transition: left .3s;
	transition: left .3s;
	display: none;
}

.tab-block {
   	text-align: left;
   	padding-left: 16px;
   	font-size: 12px;
   	font-weight: bold;
   	z-index: 2;

   	line-height: 22px;
   	color: #6e6e6e;

   	width: 84px;
   	top: 0;
   	height: 22px;
}

.tab-control {
	border-top-right-radius: 3px;
	width: 14px;
	height: 12px;
	top: 10px;
	z-index: 1;
}

.tab-control.show,
.tab-block.show {
	display: block;
}

.tab-block.drop {
	opacity: .6;
	-webkit-transition: left 0s;
	-o-transition: left 0s;
	transition: left 0s;
	z-index: 10;
}

.tab-block.drop,
.tab-control.action,
.tab-control:hover,
.tab-block:hover {
	background: #686868;
    background: linear-gradient(#7D7D7D, #4E4E4E);
    background: -webkit-linear-gradient(#7D7D7D, #4E4E4E);
    background: -moz-linear-gradient(#7D7D7D, #4E4E4E);

	color: #fff;
}

.tab-block.action {
	border-color: #1e1e1e;
	background: #323232;
    background: linear-gradient(#4E4E4E, #323232);
    background: -webkit-linear-gradient(#4E4E4E, #323232);
    background: -moz-linear-gradient(#4E4E4E, #323232);
	color: #fff;

	-webkit-box-shadow: 0 0 4px #555;
	box-shadow: 0 0 4px #555;
	z-index: 4;
}

.tab-block.show.first {
	border-top-left-radius: 6px;
}

.tab-block.show.last {
	border-top-right-radius: 6px;
}

.tab-content {
	width: 100%;
	border: 1px solid #1e1e1e;
	z-index: 1;
	margin-top: 1px;
}

.tab-content>.area {
	width: 100%;
	height: 100%;
	display: none;
}

.tab-content>.area.show {
	display: block;
}

.tab-control-list {
	width: 140px;
	top: 22px;
	padding: 8px 0;
	position: absolute;
	background: #eee;
    background: linear-gradient(#fff, #eee);
    background: -webkit-linear-gradient(#fff, #eee);
    background: -moz-linear-gradient(#fff, #eee);
    z-index: -1;
    opacity: 0;
    border: 1px solid #828282;
    border-top-right-radius: 3px;

    -webkit-box-shadow: 0 0 12px #555;
    box-shadow: 0 0 12px #555;

    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.tab-control-list.show {
	z-index: 10;
	opacity: 1;
}

.tab-control-list>ul {
	width: 140px;
	border-bottom: 1px solid #686868;
	margin: 0;
	padding: 0;
	list-style: none;
}

.tab-control-list>ul:last-child {
	border: 0;
}

.tab-control-list>ul>li {
	padding-left: 16px;
	width: 124px;
	height: 22px;
	font-size: 12px;
	color: #666;
	cursor: pointer;
	line-height: 22px;
	display: block;
	position: relative;
}

.tab-control-list>ul>li>.tab-icon {
	position: absolute;
	right: 12px;
	width: 8px;
	height: 8px;
	top: 6px;
	line-height: 0;
}

.tab-control-list>ul>li:hover {
	background: #686868;
    background: linear-gradient(#7D7D7D, #4E4E4E);
    background: -webkit-linear-gradient(#7D7D7D, #4E4E4E);
    background: -moz-linear-gradient(#7D7D7D, #4E4E4E);
    color: #fff;
}

.tab-control-list>ul>li.action {
	background: #323232;
    background: linear-gradient(#4E4E4E, #323232);
    background: -webkit-linear-gradient(#4E4E4E, #323232);
    background: -moz-linear-gradient(#4E4E4E, #323232);
	color: #fff;
}

.tab-control-icon {
	width: 8px;
	height: 8px;
	line-height: 0;
	margin-top: 2px;
	margin-left: 3px;
}

.pages {
	height: 22px;
}

.pages-content {
	font-size: 12px;
	color: #666;
	line-height: 22px;
	height: 22px;
	margin:0 auto;
}

.pages-hides,
.pages-content a {
	color: #666;
	text-decoration: none;
	display: inline-block;
	vertical-align:top;
    *display:inline;
    *zoom:1;
    height: 22px;
	margin-left: 4px;
	padding: 0 8px;
}

.pages-hides,
.pages-content a.pages-number {
	text-align: center;
	-webkit-transition: width .3s, margin-left .3s;
	-o-transition: width .3s, margin-left .3s;
	transition: width .3s, margin-left .3s;
	overflow: hidden;
	padding: 0;
}

.pages-hides {
	width: 36px;
}

.pages-content a.pages-number {
	width: 28px;
}


.pages-hides.hide,
.pages-content a.pages-number.hide {
	width: 0;
	margin-left: 0;
}

.pages-content a:hover {
	background: #eee;
}

.pages-content a.action {
	background: #686868;
	color: #fff;
}

.pages-content input {
	width: 30px;
	padding: 3px 8px;
	height: 14px;
	outline: none;
	font-size: 12px;
	color: #666;
	margin-left: 4px;

	-webkit-transition: box-shadow .3s;
	-o-transition: box-shadow .3s;
	transition: box-shadow .3s;
	border: 1px solid #666;
}

.pages-content input:hover {
	border: 1px solid #369CD1;
}

.pages-content input:focus {
	border: 1px solid #369CD1;
	-webkit-box-shadow: 0 0 6px #369CD1;
	box-shadow: 0 0 6px #369CD1;
}